body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#text {
    position:absolute;
    left: 10px;
    top: 300px;
}

#c {
    margin: 12px;
}

#boid_count_circle {
    position:absolute;
    left:10px;
    top:10px;
    width: 70px;
    height:70px;
    border-radius: 50%;
    border:2px solid #ACACAC;
}

#boid_count {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    color: #ACACAC;
    font-size: 24px;
    font-family: Arial, Helvetica;
    text-align: center;
}

#boid_count_circle:hover {
    left:9px;
    top: 9px;
    border:3px solid #4C4C4C;
}

#boid_count.hover {
    color: #4C4C4C;
    font-size: 26px;
    top: -5px;
}

